  #map {
    height: 100%;
    width: 100%;
  }
  html, body {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
  }

.navi
{
  padding: 15px;
  background-color: white;
  font-family: arial;
  font-size: .8em;
  width: 150px;
  margin-top: 40px;
  margin-left: 10px;
  position: absolute;
  top: 10px;
  z-index: 99;
  border-radius: 1.5px;
}
.navi>h3{
  text-align: center;
  padding: 20px;
}
.navi>checkbox
{
  background-color: white;
  border:none;
}
